//Font Style
$font-one: 'Roboto', sans-serif;
$font-two: 'Quicksand', sans-serif;

//Font Size
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-30: 1.875rem;

//Colors
$main-color: #ED7839;
$background: #FDF1EB;
$border: #ECECEC;
$div-title: #4E4E4E;
$div-content: #5C5C5C;
$div-text: #595959;
