//Font Style
$font-one: 'Roboto', sans-serif;
$font-two: 'Quicksand', sans-serif;

//Font Size
$size-14: 0.875rem;
$size-16: 1rem;
$size-20: 1.25rem;

//Colors
$background: #FDF1EB;
$border: #ECECEC;
$div-title: #4E4E4E;
$div-content: #5C5C5C;
