@import '../base/variables';

@media screen and (max-width: 1200px) {
  .discussions {
    &__title {
      font-size: $size-16;
    }

    .discussion {

      &-images {
        
        &__item:not(:first-child) {
          padding-left: 0.3rem;
        }
      }
    }

  }
}

@media screen and (max-width: 600px) {
  .discussions {
    &__title {
      font-size: $size-16;
    }

    .discussion {

      &-images {
        
        &__item:not(:first-child) {
          padding-left: 0.3rem;
        }
      }

      .topic {
        margin: 0.5rem;
        padding: 0.5rem;

        .expanded {

          .info {

            &__image {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

  }
}