@import '../base/variables';

@media screen and (max-width: 1200px) {
  .content {

    .header {
      box-sizing: border-box;
      height: auto;
      padding: 0 0.5rem;
      
      .text {
        &__text {
          margin-bottom: 0.5rem;
        }

        &__title {
          font-size: $size-18;
          line-height: 100%;
          margin-bottom: 0.5rem;
        }
      }

      .language {
        margin: 0  0.5rem;
        display: block;
      }

      .login {
        flex-wrap: wrap;
        text-align: right;
        justify-content: right;

        &__avatar {
          margin: 0.4rem 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .content {

    .header {
      box-sizing: border-box;
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      padding: 0 0.5rem;
      
      .text {
        &__text {
          margin-bottom: 0.5rem;
          text-align: center;
        }

        &__title {
          font-size: $size-18;
          line-height: 100%;
          margin-bottom: 0.5rem;
          text-align: center;
        }
      }

      .language {
        margin-bottom: 0.5rem;
      }

      .login {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

        &__avatar {
          margin: 0.4rem 0;
        }
      }
    }
  }
}