@import '../base/variables';

@media screen and (max-width: 800px) {
  .sidebar {

    &__title {
      font-size: $size-24;
      height: 3.5rem;
      text-align: center;
    }

    .menu {
      &__text {
        font-size: $size-14;
        margin-left: 0.3rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .sidebar {

    &__title {
      font-size: $size-16;
      height: 3.5rem;
      text-align: center;
    }

    .menu {
      &__text {
        font-size: $size-14;
        margin-left: 0.3rem;
      }
    }
  }
}
