@import '../base/variables';

.abstract {
  border: 1px solid $border;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 1.875rem;

  &__title {
    background: $background;
    color: $div-title;
    font-family: $font-one;
    font-size: $size-20;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.5625rem;
    text-align: left;
    padding: 0.625rem 0.9375rem;
  }

  &-expandable {
    padding: 0.9375rem;

    &__text {
      color: $div-content;
      font-family: $font-two;
      font-size: $size-14;
      font-weight: 400;
      letter-spacing: 0.02em;
      line-height: 22.75px;
      text-align: left;

      &:not(:first-child){
        margin-top: 1rem;
      }
    }
  }
}