@import '../base/variables';

.content {

  .header {
    align-items: center;
    background: $background;
    color: #725C5C;
    display: flex;
    justify-content: space-between;
    height: 4.25rem;
    padding: 0 2.25rem 0 1.8125rem;

    .text {
      font-family: $font-one;
      text-align: left;
      
      &__text {
        font-size: $size-14;
        font-weight: 400;
        line-height: 1rem;
        
      }
      
      &__title {
        font-size: $size-22;
        font-weight: 400;
        line-height: 1.625rem;
      }
    }

    .language {
      background-color: $background;
      border-radius: 3px;
      font-family: $font-two;
      font-size: $size-14;
      font-weight: 400;
      height: 2.125rem;
      line-height: 1.125rem;
      width: 6.0625rem;
    }

    .login {
      display: flex;
      font-family: $font-two;
      font-size: $size-14;
      font-weight: 400;
      line-height: 1.125rem;
      text-align: right;

      &__avatar {
        border-radius: 100%;
      }
    }
  }
}
