@import  '../base/variables';

.videos {

  .details {
    display: flex;
    justify-content: space-between;

    &__title {
      color: $main-color;
      font-size: $size-20;
      font-weight: 900;
      letter-spacing: 0.05rem;
      line-height: 1.5625rem;
      margin-bottom: 1.1875rem;
    }
    
    .download {

      .links {
        display: flex;
        justify-content: right;    
  
        &__item--text {
          align-items: center;
          background: $main-color;
          border-radius: 4px;
          display: flex;
          height: 1.9375rem;
          justify-content: center;
          width: 7.5rem;
        }
  
        &__item {
          align-items: center;
          background: $main-color;
          border-radius: 4px;
          display: flex;
          height: 1.9375rem;
          justify-content: center;
          width: 2.6875rem;
  
          &:not(:first-child) {
            margin-left: 5px;
          }
        }
    
        &__image{
          width: 1.1875rem;
          height: 1.1875rem;
        }
      }
  
      &__aside {
        color: $main-color;
        font-size: $size-14;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.05rem;
        line-height: 1.5625rem;
        text-align: right;
        text-transform: uppercase;
      }
    }
  }

  .video {
    display: flex;
    justify-content: space-between;
    font-family: $font-one;
    text-align: left;

    &__video {
      height: 100%;
      width: 100%;
    }

    .resume {
      border: 1px solid $border;
      box-sizing: border-box;
      border-radius: 3px;
      font-family: $font-one;
      margin-left: 1.9375rem;
      text-align: left;

      &__title {
        background: $background;
        border-radius: 3px 3px 0px 0px;
        box-sizing: border-box;
        color: $div-title;
        font-size: $size-20;
        font-weight: 500;
        letter-spacing: 0em;
        line-height: 1.5625rem;
        padding: 0.6875rem 0.9375rem 0.5625rem;
      }

      .infos {
        font-family: $font-two;
        font-size: $size-12;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 0.875rem;
        padding: 0.9375rem;
        text-align: left;

        .info {
          margin-bottom: 2rem;
          
          &__span {
            font-weight: 700;
          }
        }

        .authors {
          font-size: $size-14;
          margin-bottom: 2rem;
          
          &__span {
            font-weight: 700;
          }
        }

        .formation {
          font-size: $size-10;
        }
      }
    }
  }
}
